Create DataBase pruebatecnicaInsoft
GO
USE [pruebatecnicaInsoft]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 23/02/2026 10:01:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[CitaID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NOT NULL,
	[FechaCita] [date] NOT NULL,
	[HoraCita] [time](7) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Estado] [varchar](20) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 23/02/2026 10:01:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[VehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Marca] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Anio] [int] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([CitaID], [VehiculoID], [FechaCita], [HoraCita], [Descripcion], [Estado], [FechaCreacion]) VALUES (1, 1, CAST(N'2026-02-23' AS Date), CAST(N'09:00:00' AS Time), N'Cambio de aceite', N'Pendiente', CAST(N'2026-02-23T20:33:07.303' AS DateTime))
INSERT [dbo].[Citas] ([CitaID], [VehiculoID], [FechaCita], [HoraCita], [Descripcion], [Estado], [FechaCreacion]) VALUES (2, 1, CAST(N'2026-02-23' AS Date), CAST(N'10:00:00' AS Time), N'Cambio de aceite', N'Pendiente', CAST(N'2026-02-23T20:34:22.480' AS DateTime))
INSERT [dbo].[Citas] ([CitaID], [VehiculoID], [FechaCita], [HoraCita], [Descripcion], [Estado], [FechaCreacion]) VALUES (3, 1, CAST(N'2026-02-23' AS Date), CAST(N'10:30:00' AS Time), N'Cambio de aceite', N'Pendiente', CAST(N'2026-02-23T20:36:41.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([VehiculoID], [Placa], [Marca], [Modelo], [Anio], [FechaRegistro]) VALUES (1, N'ABC-1234', N'Toyota', N'Corolla', 2022, CAST(N'2026-02-23T20:33:07.297' AS DateTime))
INSERT [dbo].[Vehiculos] ([VehiculoID], [Placa], [Marca], [Modelo], [Anio], [FechaRegistro]) VALUES (2, N'ABC-1237', N'sdsd', N'sdsds', 2026, CAST(N'2026-02-23T21:15:55.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehiculo__8310F99D932768A0]    Script Date: 23/02/2026 10:01:19 p. m. ******/
ALTER TABLE [dbo].[Vehiculos] ADD UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Vehiculos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[Vehiculos] ([VehiculoID])
GO
/****** Object:  StoredProcedure [dbo].[SP_Cita_ConsultarPorPlaca]    Script Date: 23/02/2026 10:01:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[SP_Cita_ConsultarPorPlaca]
    @Placa         VARCHAR(20),
    @NumeroPagina  INT = 1,
    @TamanoPagina  INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@NumeroPagina - 1) * @TamanoPagina;

    SELECT
        c.CitaID,
        v.Placa,
        v.Marca,
        v.Modelo,
        v.Anio,
        c.FechaCita,
        CONVERT(VARCHAR(5), c.HoraCita, 108) AS HoraCita,
        c.Descripcion,
        c.Estado,
        c.FechaCreacion
    FROM Citas c
    INNER JOIN Vehiculos v ON v.VehiculoID = c.VehiculoID
    WHERE v.Placa = @Placa
    ORDER BY c.FechaCita DESC, c.HoraCita DESC
    OFFSET @Offset ROWS FETCH NEXT @TamanoPagina ROWS ONLY;

    SELECT COUNT(*) AS Total
    FROM Citas c
    INNER JOIN Vehiculos v ON v.VehiculoID = c.VehiculoID
    WHERE v.Placa = @Placa;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Cita_Crear]    Script Date: 23/02/2026 10:01:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[SP_Cita_Crear]
    @VehiculoID  INT,
    @FechaCita   DATE,
    @HoraCita    TIME,
    @Descripcion NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Citas (VehiculoID, FechaCita, HoraCita, Descripcion, Estado)
    VALUES (@VehiculoID, @FechaCita, @HoraCita, @Descripcion, 'Pendiente');

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS CitaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Cita_ExisteEnHorario]    Script Date: 23/02/2026 10:01:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[SP_Cita_ExisteEnHorario]
    @FechaCita DATE,
    @HoraCita  TIME
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM Citas
        WHERE FechaCita = @FechaCita
          AND HoraCita = @HoraCita
          AND Estado <> 'Cancelada'
    )
        SELECT CAST(1 AS BIT) AS Existe;
    ELSE
        SELECT CAST(0 AS BIT) AS Existe;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Horario_ObtenerOcupados]    Script Date: 23/02/2026 10:01:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[SP_Horario_ObtenerOcupados]
    @FechaCita DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CONVERT(VARCHAR(5), HoraCita, 108) AS HoraCita
    FROM Citas
    WHERE FechaCita = @FechaCita
      AND Estado <> 'Cancelada';
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Vehiculo_ObtenerOCrearPorPlaca]    Script Date: 23/02/2026 10:01:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[SP_Vehiculo_ObtenerOCrearPorPlaca]
    @Placa    VARCHAR(20),
    @Marca    VARCHAR(50) = NULL,
    @Modelo   VARCHAR(50) = NULL,
    @Anio     INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @VehiculoID INT;

    SELECT @VehiculoID = VehiculoID
    FROM Vehiculos
    WHERE Placa = @Placa;

    IF @VehiculoID IS NULL
    BEGIN
        INSERT INTO Vehiculos (Placa, Marca, Modelo, Anio)
        VALUES (@Placa, @Marca, @Modelo, @Anio);

        SET @VehiculoID = SCOPE_IDENTITY();
    END

    SELECT @VehiculoID AS VehiculoID;
END;
GO
